<h1>Species Tracker</h1>

<h1>Regions</h1>

<ul>
  <% @regions.each do |region| %>
    <li><%= region.name %></li>
  <% end %>
</ul>

<h1>Species</h1>

<ul>
  <% @species.each do |specie| %>
    <li><a href="/species/<%= specie.id %>"><%= specie.name %></a></li>
  <% end %>
</ul>

<h1>New Species</h1>

<% if @specie.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @specie.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<form action="/species" method="post">
  <label for="specie_name">Name</label>
  <input id="specie_name" name="name" type="text">
  <button>Create a Species</button>
</form>
