<h1><%= @specie.name %></h1>

<p><a href="/species/<%= @specie.id %>/edit">Edit</a></p>
<p><a href="/species/<%= @specie.id %>"
    data-confirm="You sure girl?"
    data-method="delete"
    rel="nofollow">Delete</a></p>
<p><a href="/species">Return to the specie listing bitch</a></p>
