<h1>Region <%= @region.name %> saved!</h1>
<p>Your region is added to the database.</p>
<p><a href="/regions/<%= @region.id %>">View <%= @region.name %></a></p>
<p><a href="/species">Return to species listing</a></p>
